@font-face {
    font-family: "MullerThin";
    src: url("./../../fonts/muller-thin.woff");
    src: url("./../../fonts/muller-thin.woff") format("woff")
}

@font-face {
    font-family: "MullerExtraBold";
    src: url("./../../fonts/muller-extrabold.woff");
    src: url("./../../fonts/muller-extrabold.woff") format("woff")
}