@import '../variables';

.partners {
    background-color: $color-font;

    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 2%;

    }
}

@media (max-width: 990px) {
    .partners {
        .container {
            gap: 5%;
        }
    }
}