* {
    box-sizing: border-box;
}

.cards {
    background: linear-gradient(to right, lightblue, lightgreen);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 30px;
    height: 100%;
}

.card {
    background-color: khaki;
    width: 28%;
    display: inline-block;
    margin: 20px 30px;
}

.card img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.card__text {
    padding: 10px 30px;
}

.card__text h2 {
    text-align: left;
    letter-spacing: 8px;
}

.card__text p {
    text-align: center;
}

label[for="red"] {
    color: red;
}

label[for="blue"] {
    color: blue;
}

button[type="submit"] {
    background-color: aquamarine;
    padding: 5px 15px;
    display: block;
    margin: 20px auto;
}