.home {
    height: 100vh;
    max-height: 100vh;
    width: auto;

    background-image: url('./assets/images/image-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}