.bg--pink {
    background-color: pink;  
}

.bg--red {
    background-color: red;
}

.bg--aqua {
    background-color:aqua;
}

.white {
    color: white;
}

.bg--gray {
    background-color: gray;
}

.blue {
    color: blue;
}

.bg--yellow {
    background-color: yellow;
} 

.green {
    color: green;
}

.choco {
    color: chocolate;
}

#red {
    color: red;
}

img[alt="sakura"] {
    width: 200px;
    height: 200px;
}

input[type="text"] {
    background-color: green;
}

input[type="password"] {
    background-color: blue;
}