.cards {
    margin: 100px auto 0 auto;
    width: 90%;
}

.card {
    width: 400px;
    position: relative;
    display: inline-block;
    margin: 20px;
    background-color: pink;
    border: 10px solid yellow;
}

.cards .card img {
    height: 200px;
    width: 100%;
}

.cards .card p {
    position: absolute;
    background-color: white;
    letter-spacing: 10px;
    top: 20px;
    left: 20px;
}