* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
}

