.card {
    width: 400px;
}

.card-text {
    display: inline-block;
    background: linear-gradient(to right, #f6d365, #fda085);
}

.card-text p {
    letter-spacing: 10px;
   
}
.card-text .p {
    font-family: "Yellowtail", cursive;
    font-size: 40px;
}

.card-bg {
    background-image: url(universe.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 600px;
}
.card-bg h1 {
    font-weight: 100;
}

.card-bg p {
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}