@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Montserrat', sans-serif;
$bg-color: rgba(48, 44, 66, 1);
$linear-gradient: linear-gradient(rgba(129, 118, 175, 1), rgba(192, 183, 232, 1));
$radial-gradient: radial-gradient(rgba(58, 52, 86, 0.95), rgba(33, 30, 46, 1));
$main-color: rgba(255, 255, 255);