* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    border: 3px solid red;
    text-align: center;
    height: 400px;
}

.card1,
.card2,
.card3 {
    background-color: green;
    display: inline-block;
    width: 300px;
}

.card1 {
    vertical-align: middle;
}

.card2 {
    vertical-align: middle;
    border: 2px solid red;
    margin: 20px;
}

.card3 {
    vertical-align: bottom;
}

.card2:hover {
    color: white;
    box-shadow: 0 10px 15px gray;
}

.container {
    background-color: lightblue;
    font-size: 40px;
}

html {
    font-size: 10px;
}

/* h1{ */
/* 80px */
/* font-size: 2rem;
}
h2{ */
/* 40px */
/* 
    font-size: 2.5rem;
}
p{ */
/* 20px */
/* font-size: 2em;
}

h1{
    font-size: 1em;
} */
/* mobile */
/* .container{
    font-size: 10px;
} */
/* .container{
    font-size: 15px;
}
.container{
    font-size: 10px;
} */

#boxlar {
    border: 4px solid blue;
    width: 100vw;
    height: 100vh;
    background-image: url();
}

.box1 {
    background-color: lightgreen;
    border: 4px solid red;
    padding: 5px;
    margin: 10px;
    width: 50%;
    height: 50%;
}

.box2 {
    background-color: lightgreen;
    border: 4px solid red;
    padding: 5px;
    margin: 10px;
    width: 50vw;
    /* height: 100vh; */
}